section[id=newprojects] div.top {
   font-family: Arial;
   font-size: 14px;
   width: 100%;
   float: left;
   margin-bottom: 10px;
   /*border-bottom: 1px solid black;*/
}
section[id=newprojects] div.top table {
   margin-top: 20px;
   margin-bottom: 20px;
}
section[id=newprojects] div.top th {
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid black;
}

/* -------------------------------- center ------------------------ */
section[id=newprojects] div.center {
   font-family: Arial;
   font-size: 14px;
   width: 100%;
   float: left;
   margin-bottom: 10px;
   border-bottom: 1px solid black;
}
section[id=newprojects] div.center .customer {
   margin-bottom: 10px;
   border-bottom-width: 1px;
   border-bottom-style: ridge;
   border-bottom-color: gray;
}
section[id=newprojects] div.center table {
   margin-top: 20px;
   margin-bottom: 20px;
}
section[id=newprojects] div.center table thead {
   width: 60%;
}
section[id=newprojects] div.center th {
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid black;
}
section[id=newprojects] div.center td {
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid black;
}
section[id=newprojects] div.center table tbody tr.spacer td {
   line-height: 20%;
}
section[id=newprojects] div.center table tbody tr.totalsrow {
   font-weight: bold;
}
