<h1>Giornate erogate per cliente</h1>
<hr>
<section id="ggcliente" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
	<div class="list-group">
		<div ng-controller="GiorniClienteController as ggclienteCtrl">
			<table ng-table="ggclienteCtrl.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					template-header="templates/table/header/header.html"
					show-filter="true">
				<tr class="ng-table-group" ng-repeat-start="group in $groups">
					<td colspan="4">
						<a href="" ng-click="group.$hideRows = !group.$hideRows">
							<span class="glyphicon"
								ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">
							</span>
							<strong>{{ group.value }}</strong>
						</a>
					</td>
				</tr>

				<tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
					<td data-title="'ANNO'" filter="ggclienteCtrl.yearFilterByInterval"
						sortable="'anno'" groupable="'anno'">
						{{row.anno}}
					</td>
					<td data-title="'MESE'" filter="ggclienteCtrl.monthFilterByInterval"
						sortable="'mese'" groupable="'mese'">
						{{row.mese}}
					</td>
					<td data-title="'CLIENTE'" filter="{nomeCliente: 'text'}"
						sortable="'nomeCliente'" groupable="'nomeCliente'">
						{{row.nomeCliente}}
					</td>
					<td data-title="'GIORNATE EROGATE'" sortable="'giornateMese'">
						{{row.giornateMese}}
					</td>
				</tr>

				<tr class="ggclienteTableTotals" ng-repeat-end>
					<td colspan="3" class="text-success text-left">
						<strong>Totali:</strong>
					</td>
					<td>
						<em>{{ sumGrouped(group.data, "giornateMese").toFixed(2).replace(".",",") }}</em>
					</td>
				</tr>

				<tfoot ng-if="isLastPage()">
					<tr>
						<td colspan="3" class="text-success text-left">
							<strong>Totali complessivi:</strong>
						</td>
						<td>
							<em>{{ totalDays }}</em>
						</td>
					</tr>
				</tfoot>

			</table>
		</div>
	</div>
	</div>
	<hr>
</section>
