<h1>Giornate erogate</h1>
<hr>
<section id="giorni" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
		<div class="list-group">
			<div ng-controller="GiorniController as giorni">
			  <table ng-table="giorni.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					template-header="templates/table/header/header.html"
					show-filter="true">

					<tr class="ng-table-group" ng-repeat-start="group in $groups">
						<td colspan="3">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
								<span class="glyphicon"
									ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">
								</span>
								<strong>{{ group.value }}</strong>
							</a>
						</td>
					</tr>

					<tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
						<td data-title="'ANNO'" filter="giorni.yearFilterByInterval"
							sortable="'anno'" groupable="'anno'">
							{{row.anno}}
						</td>
						<td data-title="'MESE'" filter="giorni.monthFilterByInterval"
							filter-data="'8'" sortable="'mese'" groupable="'mese'">
							{{row.mese}}
						</td>
						<td data-title="'GIORNATE EROGATE'" sortable="'giornateMese'">
							{{row.giornateMese}}
						</td>
					</tr>

					<tr class="giorniTableTotals" ng-repeat-end>
						<td colspan="2" class="text-success text-left">
							<strong>Totali:</strong>
						</td>
						<td>
							<em>{{ sumGrouped(group.data, "giornateMese").toFixed(2).replace(".",",") }}</em>
						</td>
        			</tr>

					<tfoot ng-if="isLastPage()">
	          		<tr>
							<td colspan="2" class="text-success text-left">
								<strong>Totali complessivi:</strong>
							</td>
							<td>
								<em>{{ totalDays }}</em>
							</td>
	          		</tr>
	        		</tfoot>

			  </table>
			</div>
		</div>
	</div>
	<hr>
</section>
