<h1>Giornate erogate per commessa</h1>
<hr>
<section id="ggcommessa" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
		<div class="list-group">
			<div ng-controller="GiorniCommessaController as ggCommessaCtrl">
				<table ng-table="ggCommessaCtrl.tableParams"
						class="table table-bordered table-striped table-condensed ehourdata"
						show-filter="true">
					<tr ng-repeat="row in $data">
						<td data-title="'ANNO'" filter="ggCommessaCtrl.yearFilterByInterval" sortable="'anno'">
							{{row.anno}}
						</td>
						<td data-title="'MESE'" filter="ggCommessaCtrl.monthFilterByInterval" sortable="'mese'">
							{{row.mese}}
						</td>
						<td data-title="'CLIENTE'" filter="{nomeCliente: 'text'}" sortable="'nomeCliente'">{{row.nomeCliente}}</td>
						<td data-title="'CODICE PROGETTO'" filter="{codiceProgetto: 'text'}" sortable="'codiceProgetto'">
							<a ui-sref="projectdetail({projectId: {{row.idProgetto}}})">
								{{row.codiceProgetto}}
							</a>
						</td>
						<td data-title="'PROGETTO'" filter="{nomeProgetto: 'text'}" sortable="'nomeProgetto'">
							<a ui-sref="projectdetail({projectId: {{row.idProgetto}}})">
								{{row.nomeProgetto}}
							</a>
						</td>
						<td data-title="'GIORNATE EROGATE'" sortable="'giornateMese'">{{row.giornateMese}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<hr>
</section>
