<h1>Elenco dei progetti per tutti i clienti</h1>
<hr>
<section>
<form name="overviewProgettiForm" novalidate>
	<fieldset>
		<div class="top">
		</div>
		<div class="center">
			<div class="project_list">
				<h4>Elenco di tutti i progetti</h4>
				<!--hereweare-datatable source-name="'customer'"></hereweare-datatable-->
				<!--hereweare-datatable source-name="projectsInCustomer"></hereweare-datatable-->

				<table class="hereweare-datatable">
				   <thead>
				      <tr>
				         <th>Name</th>
				         <th>Position</th>
				      </tr>
				   </thead>
				   <tbody></tbody>
				</table>

			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
