section.ehourtables div.top {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  /*border-bottom: 1px solid black;*/
}
section.ehourtables div.center {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

section.ehourtables div.center .saverdiv {
  margin-bottom: 10px;
  height: 30px;
  display: block;
}
section.ehourtables div.center .saverdiv .csvsaver {
  float: right;
}
section.ehourtables div.center .saverdiv .xlssaver {
  float: right;
  margin-right: 6px;
}

/* ----------------------------------------- */
/* ------------- table data -----------------*/
/* ----------------------------------------- */
table.ehourdata {
   width: 100%;
   table-layout: fixed;
}
table.ehourdata thead,
table.ehourdata tbody,
table.ehourdata tfoot {
   width: 100%;
}
table.ehourdata thead tr,
table.ehourdata tbody tr,
table.ehourdata tfoot tr {
   width: 100%;
}
table.ehourdata td {
   font-family: Arial;
}

/* -------------------------- filters ---------------------------------------*/
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
label.startMonthFilterLabel {
   float: left;
   margin-top: 7px;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
label.endMonthFilterLabel {
   float: left;
   margin-top: 7px;
   margin-left: 8px;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
input.startMonthInputFilter,
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
input.endMonthInputFilter {
   float: right;
   margin-left: 10px;
   margin-bottom: 0;
   width: 40%;
   padding: 0;
}

table.ehourdata thead tr.ng-table-filters th:nth-child(1) div.filter-cell
label.startYearFilterLabel {
   float: left;
   margin-top: 7px;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(1) div.filter-cell
label.endYearFilterLabel {
   float: left;
   margin-top: 7px;
   margin-left: 8px;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(1) div.filter-cell
input.startYearInputFilter,
table.ehourdata thead tr.ng-table-filters th:nth-child(1) div.filter-cell
input.endYearInputFilter {
   float: right;
   margin-left: 10px;
   margin-bottom: 0;
   width: 60%;
   padding: 0;
}
