section.ehourtables div.top {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  /*border-bottom: 1px solid black;*/
}
section.ehourtables div.center {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

section.ehourtables div.center .saverdiv {
  margin-bottom: 10px;
  height: 30px;
  display: block;
}
section.ehourtables div.center .saverdiv .csvsaver {
  float: right;
}
section.ehourtables div.center .saverdiv .xlssaver {
  float: right;
  margin-right: 6px;
}

/* -------------------------------------------------- */
/* -------------- grouping table -------------------- */
/* -------------------------------------------------- */
section.ehourtables table.grouping {
   width: 1200px;
   background-color: #165697;
   border: 1px solid #e3e39d;
}
section.ehourtables table.grouping th,
section.ehourtables table.grouping td {
  font-family: Arial;
}

section.ehourtables table.grouping > thead > tr > th,
section.ehourtables table.grouping > tbody > tr > th,
section.ehourtables table.grouping > tfoot > tr > th,
section.ehourtables table.grouping > thead > tr > td,
section.ehourtables table.grouping > tbody > tr > td,
section.ehourtables table.grouping > tfoot > tr > td {
   border: 1px solid #e3e39d;
   padding: 5px;
}
section.ehourtables table.grouping > thead > tr > th,
section.ehourtables table.grouping > thead > tr > td {
  /*border-bottom-width: 2px;*/
}

section.ehourtables table.grouping .groupingLegend {
   color: #e3e39d;
   margin: 0;
}
section.ehourtables table.grouping .groupingLegend h4 {
   font-size: 16px;
   margin-left: 20px;
}

section.ehourtables table.grouping .groupingCheckboxes .item-checkbox {
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: normal;
   color: #e3e39d;
}
section.ehourtables table.grouping .groupingCheckboxes .item-checkbox .md-container {
   float: right;
   position: relative;
   margin-top: 10px;
}
section.ehourtables table.grouping .groupingCheckboxes .item-checkbox .md-label {
   margin-left: 0;
   margin-right: 6px;
}
section.ehourtables table.grouping .groupingCheckboxes .item-checkbox .md-label span {
   color: #e3e39d;
}
section.ehourtables table.grouping .groupingCheckboxes .item-checkbox .md-icon {
   border-color: #e3e39d;
   width: 14px;
   height: 14px;
}
section.ehourtables table.grouping .groupingCheckboxes .item-checkbox .md-icon::after {
   top: 1px;
   left: 4px;
}
section.ehourtables table.grouping .groupingCheckboxes .item-checkbox.md-checked .md-icon {
   background-color: #2088ff;
}

/* ----------------------------------------- */
/* ------------- table data -----------------*/
/* ----------------------------------------- */
table.ehourdata {
   width: 1200px;
}
table.ehourdata thead,
table.ehourdata tbody,
table.ehourdata tfoot {
   width: 100%;
}
table.ehourdata thead tr,
table.ehourdata tbody tr,
table.ehourdata tfoot tr {
   width: 100%;
}
table.ehourdata td {
   font-family: Arial;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
label.startMonthFilterLabel {
   float: left;
   margin-top: 7px;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
label.endMonthFilterLabel {
   float: left;
   margin-top: 7px;
   margin-left: 8px;
}
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
input.startMonthInputFilter,
table.ehourdata thead tr.ng-table-filters th:nth-child(2) div.filter-cell
input.endMonthInputFilter {
   float: right;
   margin-left: 10px;
   margin-bottom: 0;
   width: 60px;
   padding: 0;
}


/* ---------------------------------------------------------- */
/* ----------------------------- specific tables ----------------------- */
/* ---------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* ---------------------- giornicommessautente ------------------------- */
/* --------------------------------------------------------------------- */
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(1) { /* blank */
   /*width: 80px;*/
   width: 7%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(2) { /* mese */
   /*width: 110px;*/
   width: 10%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(3) { /* cliente */
   /*width: 170px;*/
   width: 13%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(4) { /* codice progetto */
   /*width: 170px;*/
   width: 12%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(5) { /* progetto */
   /*width: 200px;*/
   width: 15%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(6) { /* nome */
   /*width: 150px;*/
   width: 11%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(7) { /* cognome */
   /*width: 150px;*/
   width: 11%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(8) { /* blank */
   /*width: 100px;*/
   width: 6%;
}
section#ggcommessautente table.grouping .groupingCheckboxes
td:nth-child(9) { /* blank */
   /*width: 150px;*/
   width: 15%;
}



section#ggcommessautente table.ehourdata thead tr th:nth-child(1),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(1) { /* anno */
   /*width: 80px;*/
   width: 7%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(2),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(2) { /* mese */
   /*width: 110px;*/
   width: 10%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(3),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(3) { /* cliente */
   /*width: 170px;*/
   width: 13%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(4),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(4) { /* codice progetto */
   /*width: 170px;*/
   width: 12%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(5),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(5) { /* progetto */
   /*width: 200px;*/
   width: 15%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(6),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(6) { /* nome */
   /*width: 150px;*/
   width: 11%;
}
section#ggcommessautente table.ehourdata tfoot tr td:nth-child(6) {
   white-space: nowrap;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(7),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(7) { /* cognome */
   /*width: 150px;*/
   width: 11%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(8),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(8) { /* ore */
   /*width: 100px;*/
   width: 6%;
}
section#ggcommessautente table.ehourdata thead tr th:nth-child(9),
section#ggcommessautente table.ehourdata tbody tr td:nth-child(9) { /* giornate */
   /*width: 150px;*/
   width: 15%;
}
/* ---- totals ------------ */
section#ggcommessautente table.ehourdata tbody
tr.ggcommessautenteTableTotals td:nth-child(1),
section#ggcommessautente table.ehourdata tfoot tr td:nth-child(1) { /* totali: */
   width: 79%;
}
section#ggcommessautente table.ehourdata tbody
tr.ggcommessautenteTableTotals td:nth-child(2),
section#ggcommessautente table.ehourdata tfoot tr td:nth-child(2) { /* ore */
   width: 6%;
}
section#ggcommessautente table.ehourdata tbody
tr.ggcommessautenteTableTotals td:nth-child(3),
section#ggcommessautente table.ehourdata tfoot tr td:nth-child(3) { /* giornate */
   width: 15%;
}


/* --------------------------------------------------------------------- */
/* ---------------------- giornicommessautentewithcomments ------------- */
/* --------------------------------------------------------------------- */
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(1) { /* blank */
   /*width: 80px;*/
   width: 7%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(2) { /* mese */
   /*width: 110px;*/
   width: 9%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(3) { /* giorno del mese */
   /*width: 200px;*/
   width: 10%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(4) { /* cliente */
   /*width: 170px;*/
   width: 12%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(5) { /* codice progetto */
   /*width: 200px;*/
   width: 12%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(6) { /* progetto */
   /*width: 200px;*/
   width: 12%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(7) { /* nome */
   /*width: 120px;*/
   width: 8%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(8) { /* cognome */
   /*width: 150px;*/
   width: 10%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(9) { /* blank */
   /*width: 200px;*/
   width: 14%;
}
section#ggcommessautentewithcomments table.grouping .groupingCheckboxes
td:nth-child(10) { /* blank */
   /*width: 80px;*/
   width: 6%;
}


section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(1),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(1) { /* anno */
   /*width: 80px;*/
   width: 7%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(2),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(2) { /* mese */
   /*width: 110px;*/
   width: 9%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(3),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(3) { /* giorno del mese */
   /*width: 200px;*/
   width: 10%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(4),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(4) { /* cliente */
   /*width: 170px;*/
   width: 12%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(5),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(5) { /* codice progetto */
   /*width: 200px;*/
   width: 12%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(6),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(6) { /* progetto */
   /*width: 200px;*/
   width: 12%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(7),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(7) { /* nome */
   /*width: 120px;*/
   width: 8%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(8),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(8) { /* cognome */
   /*width: 150px;*/
   width: 10%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(9),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(9) { /* commento */
   /*width: 200px;*/
   width: 14%;
}
section#ggcommessautentewithcomments table.ehourdata
thead tr th:nth-child(10),
section#ggcommessautentewithcomments table.ehourdata
tbody tr td:nth-child(10) { /* ore */
   /*width: 80px;*/
   width: 6%;
}
/* ---- totals ------------ */
section#ggcommessautente table.ehourdata tbody
tr.ggcommessautenteTableTotals td:nth-child(1),
section#ggcommessautente table.ehourdata tfoot tr td:nth-child(1) { /* totali: */
   width: 94%;
}
section#ggcommessautente table.ehourdata tbody
tr.ggcommessautenteTableTotals td:nth-child(2),
section#ggcommessautente table.ehourdata tfoot tr td:nth-child(2) { /* ore */
   width: 6%;
}
