/* --------------------------------------------------------------------- */
/* ---------------------- giornicliente ------------------------- */
/* --------------------------------------------------------------------- */
section#ggcliente table.ehourdata thead tr th:nth-child(1),
section#ggcliente table.ehourdata tbody tr td:nth-child(1) { /* anno */
   /*width: 80px;*/
   width: 15%;
}
section#ggcliente table.ehourdata thead tr th:nth-child(2),
section#ggcliente table.ehourdata tbody tr td:nth-child(2) { /* mese */
   /*width: 110px;*/
   width: 15%;
}
section#ggcliente table.ehourdata thead tr th:nth-child(4),
section#ggcliente table.ehourdata tbody tr td:nth-child(4) { /* cliente */
   /*width: 170px;*/
   width: 50%;
}
section#ggcliente table.ehourdata thead tr th:nth-child(5),
section#ggcliente table.ehourdata tbody tr td:nth-child(5) { /* giornate erogate */
   /*width: 200px;*/
   width: 20%;
}

/* ---------------------------- totals ---------------------------------- */
section#ggcliente table.ehourdata tbody
tr.ggclienteTableTotals td:nth-child(1),
section#ggcliente table.ehourdata tfoot tr td:nth-child(1) { /* totali: */
   width: 80%;
}
section#ggcliente table.ehourdata tbody
tr.ggclienteTableTotals td:nth-child(3),
section#ggcliente table.ehourdata tfoot tr td:nth-child(3) { /* giornate */
   width: 20%;
}
