<h1>Ore e Giornate erogate per commessa e per dipendente</h1>
<hr>
<section id="ggcommessautente" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
		<div class="list-group">
			<div ng-controller="GiorniCommessaUtenteController as ggCommessaUtCtrl">
				<!-- <div class="csvsaverdiv"> -->
				<form class="saverdiv">
					<!--input id="XLSreader" name="XLSreader" type="file">Carica un excel</input-->
					<button class="btn btn-default csvsaver" ng-click="saveCSV()">
						Esporta CSV
					</button>
					<button class="btn btn-default xlssaver" ng-click="saveXLS()">
						Esporta XLS
					</button>
				</form>

				<!-- <table ng-table="ggCommessaUtCtrl.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					show-filter="true" show-group="true"> -->
				<table ng-table="ggCommessaUtCtrl.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					template-header="templates/table/header/header.html"
					show-filter="true">
					<tr class="ng-table-group" ng-repeat-start="group in $groups">
						<td colspan="9">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
								<span class="glyphicon"
									ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">
								</span>
								<strong>{{ group.value }}</strong>
							</a>
						</td>
					</tr>

					<tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
						<td data-title="'ANNO'" filter="ggCommessaUtCtrl.yearFilterByInterval" sortable="'anno'" groupable="'anno'">
							{{row.anno}}
						</td>
						<td data-title="'MESE'" filter="ggCommessaUtCtrl.monthFilterByInterval" sortable="'mese'" groupable="'mese'">
							{{row.mese}}
						</td>
						<td data-title="'CLIENTE'" filter="{nomeCliente: 'text'}" sortable="'nomeCliente'" groupable="'nomeCliente'">
							{{row.nomeCliente}}
						</td>
						<td data-title="'CODICE PROGETTO'" filter="{codiceProgetto: 'text'}" sortable="'codiceProgetto'" groupable="'codiceProgetto'">
							<a ui-sref="projectdetail({projectId: {{row.idProgetto}}, mese: {{row.mese}}, anno: {{row.anno}}})">
								{{row.codiceProgetto}}
							</a>
						</td>
						<td data-title="'PROGETTO'" filter="{nomeProgetto: 'text'}" sortable="'nomeProgetto'" groupable="'nomeProgetto'">
							<a ui-sref="projectdetail({projectId: {{row.idProgetto}}, mese: {{row.mese}}, anno: {{row.anno}}})">
								{{row.nomeProgetto}}
							</a>
						</td>
						<td data-title="'NOME'" filter="{nomeDipendente: 'text'}" sortable="'nomeDipendente'" groupable="'nomeDipendente'">
							{{row.nomeDipendente}}
						</td>
						<td data-title="'COGNOME'" filter="{cognomeDipendente: 'text'}" sortable="'cognomeDipendente'" groupable="'cognomeDipendente'">
							{{row.cognomeDipendente}}
						</td>
						<td data-title="'ORE'" sortable="'oreMese'">
							{{row.oreMese}}
						</td>
						<td data-title="'GIORNATE'" sortable="'giornateMese'">
							{{row.giornateMese}}
						</td>
					</tr>

					<tr class="ggcommessautenteTableTotals" ng-repeat-end>
						<td colspan="7" class="text-success text-left">
							<strong>Totali:</strong>
						</td>
            		<td>
							<em>{{ sumGrouped(group.data, "oreMese").toFixed(2).replace(".",",") }}</em>
						</td>
						<td>
							<em>{{ sumGrouped(group.data, "giornateMese").toFixed(2).replace(".",",") }}</em>
						</td>
        			</tr>

					<tfoot ng-if="isLastPage()">
	          		<tr>
							<td colspan="7" class="text-success text-left">
								<strong>Totali complessivi:</strong>
							</td>
	            		<td>
								<em>{{ totalHours }}</em>
							</td>
							<td>
								<em>{{ totalDays }}</em>
							</td>
	          		</tr>
	        		</tfoot>

			  </table>
			</div>
		</div>
	</div>
	<hr>
</section>
